<!doctype html>
<html>
<head>
	<title>Voting App - Profile</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1>Create a New Poll</h1>
		<h2>A new poll by: <%= user.facebook.name %></h2>
		<form method="post" action="./newpoll/submit/">
			<h3>Title</h3><br>
			<input type="text" name="title"><br />
			<h3>Elements (seperated by comma, no .'s')</h3><br>
			<input type="text" name="elements" /><br><br>
			<input type="submit">


		</form>


	</div>

	<div class="row">

		 <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-12">
            <div class="well" style="text-align:center">



								<!-- Here is where I want to add the list of Votes -->

            </div>
						<a href="/">The main Page</a>
						<a href="/newpoll">Create a poll</a>
						<a href="/managepolls">Manage your polls</a>
        </div>

	</div>

</div>
</body>
</html>
