<!doctype html>
<html>
<head>
	<title>New Poll Sucess!</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1>Congratulations</h1>
		<p>A new poll by <%= user.facebook.name %> was created!<br />You can view it <a href="https://warm-sands-51936.herokuapp.com/poll/<%= pollNum %>">here</a></p>

	</div>

	<div class="row">

		 <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-12">
            <div class="well" style="text-align:center">


                <p>
										<strong>ID</strong>: <%= user.facebook.id %>
                </p>
								<!-- Here is where I want to add the list of Votes -->

            </div>
						<a href="/">The main Page</a>
						<a href="/newpoll">Create a poll</a>
						<a href="/managepolls">Manage your polls</a>
        </div>

	</div>

</div>
</body>
</html>
